#hero_image {
  max-height: 100%;
  max-width: 100%;
}

#hero_card {
  background-color: black;
  background: rgba(159, 159, 159, 0.5);
  height: 500px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  padding: 24px;
  margin: 40px;
  bottom: 0;
  left: 0;
}

#hero_card_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  text-shadow: 4px 4px 4px rgb(100, 0, 0);
}

#hero_card_sub_title {
  font-size: 30px;
  color: white;
  font-weight: 100;
  /* font-style: italic; */
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

#hero_card_button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 0%;
  background-color: rgb(100, 0, 0);
  color: rgb(255, 255, 255);
  border-color: black;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  border-color: white;
}

#hero_card_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

#card_section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#card {
  max-height: 50%;
  max-width: 100%;
  background: rgba(96, 96, 96, 0.527);
  margin: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.411);
}

#card_title {
  color: rgb(255, 255, 255);
  font-size: 60px;
  text-shadow: 4px 4px 4px rgb(100, 0, 0);
}

#card_description {
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px rgb(100, 0, 0);
}

#card_button_wrapper {
  float: right;
  display: flex;
}

#card_button {
  color: aliceblue;
  border-radius: 0%;
  background-color: rgb(100, 0, 0);
  color: rgb(255, 255, 255);
  border-color: white;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

#card_image {
  max-height: 500px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

#boss_card {
  background-image: url("https://images.unsplash.com/photo-1498590880827-3f79fdcd7fbe?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njd8fHNwYWNlfGVufDB8fDB8fHww");
  margin-top: 50px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  border: 10px solid rgb(255, 246, 224);
  box-shadow: 20px 20px 20px rgb(0, 0, 0);
}

#boss_card_title {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

#boss_card_text {
  color: white;
  font-size: 40px;
  font-weight: 300;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

#boss_card_text_container {
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.176);
}

#footer_image {
  position: absolute;
  display: flex;
  z-index: 2;
}

@media only screen and (max-width: 1318px) {
  #hero_card {
    top: 0;
  }
}

@media only screen and (max-width: 1026px) {
  #hero_card {
    display: none;
  }
}
